.vh-n {
    height: 88vh;
}

.navProj {
    border: 3px solid #000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    width: 27%;
}

.itemNavProj {
    background-color: beige;
    list-style: none;
    width: 100%;

    justify-content: space-between;
    padding: 0.5em;
}

.projecto {
    border: 3px solid #000;
    border-radius: 5px;

    display: flex;
    justify-content: center;

    flex-grow: 1;
}

.artUsuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 5em;

}