.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e1bcaa;
    margin: 10%;
    border-radius: 30px;
}

.registro_Inicio {
    background-Color: white;
    border: 0.5px solid black;
    padding: 5%;
}



.item_Registro{
    margin: 10px;
}

.acceso {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../../imagenes/fondoDesierto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carrucel {
    width: 60%; 
    max-width: 500px; 
    height: 300px; 
    border-radius: 16px; 
    border: 4px solid white; 
    overflow: hidden; 
    margin-right: 10%;
    
}
.headerP {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: end; 
    align-items: center; 

  }
  
  .header-title {
    color: black; 
    font-size: 2.5em;
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    margin: 20px 0; 
    margin-left: 10%;
}
.header-title6{
    color: black; 
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    margin: 20px 0; 
    margin-left: 10%;
    
}
.boton-registrase{
    margin-left: 30%;
}

