
/**       Generales       **/
.row_spaceBetween {
  display: flex;
  justify-content: space-between;
}

/**       Carrucel       **/

.carrucel {
  height: 50%;
}

.carrucel div{
  height: 720px;
}

.carrucel div img{
  object-fit: cover;
}

.footer{
  width: 100%;
  height: 200px;
  margin-bottom: 0;
  background-color: rgb(44, 51, 58);
  position: relative;
  
  
}

.letraFooter{
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  

  

}