.hola{
    color: blue;
    background-color: black;
    padding: 20px;
    border: 1px solid black;
  }
  
  #mary {
    color: green;
  }
/**       Navbar        **/
.logOfNavBar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color:white;
  z-index: 1000;
}

.divNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5em;
}

.divNav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.divNav ul li {
  margin: 0 10px;
}

.buttonNav{
  background-color: #e1bcaa;
  border-radius: 10px;
  border: #271d24;
  border-width: 2px;
}

.logoNav{
  height: 100%;
}